@model int

<td style="width: 150px" align="center">
    <div class="btn-group">
        <a asp-action="Edit" asp-route-id="@Model">
            <i class="fa fa-pencil-square-o" aria-hidden="true" style="font-size:20px; color:green"></i>
        </a>

        &nbsp;

        <a asp-action="Details" asp-route-id="@Model">
            <i class="fa fa-bars" aria-hidden="true" style="font-size:20px; color:grey"></i>
        </a>

        &nbsp;

        <a asp-action="Delete" asp-route-id="@Model">
            <i class="fa fa-trash-o" aria-hidden="true" style="font-size:20px; color:red"></i>
        </a>
    </div>
</td>